[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
python-telegram-bot = "*"
requests = "*"
youtube_dl = "*"

[dev-packages]

[requires]
python_version = "3.6"
